<div th:fragment="table">
    <script type="text/javascript" src="/js/analyseHistoryDel.js"></script>
    <div id="delAnalyseLayout" class="easyui-layout">
        <div id="delAnalyseLayoutWest" data-options="region:'west',split : true," style="width:250px;">
            <select id="delAnalyseBatchType" class="easyui-combobox" name="dept" style="width:100px;">
                <option value=""></option>
                <option value="RUNNING">RUNNING</option>
                <option value="OK">OK</option>
                <option value="ERROR">ERROR</option>
            </select>
            <a id="btnSelectAnalyseBatchDel" type="button" class="easyui-linkbutton" onclick="selectAnalyseBatchDel()">分析查询</a>
            <ul id="analyseBatchDel" class="easyui-datalist"></ul>
        </div>
        <div id="delAnalyseLayoutCenter" data-options="region:'center'" style="padding:1px;background:#eee;">
            <p>删除小于该分析时间之前的分析记录</p>
            <input id="analyseTime" type="text">
            <a id="btnAnalyseBatchDel" type="button" class="easyui-linkbutton" onclick="analyseBatchDel()">删除</a>

        </div>
    </div>
</div>
