<div th:fragment="table">
    <script type="text/javascript" src="/js/onTimeGather.js"></script>
    <div id="onTimeGatherLayout" class="easyui-layout">
        <div id="onTimeLayoutWest" data-options="region:'west',split : true," style="width:200px;">
            <select id="cmbBatchType" class="easyui-combobox" name="dept" style="width:100px;">
                <option value=""></option>
                <option value="RUNNING">RUNNING</option>
                <option value="OK">OK</option>
                <option value="ERROR">ERROR</option>
            </select>
            <a id="btnSearchBatch" type="button"  class="easyui-linkbutton" onclick="selectBatch()">查询</a>
            <ul id="onTimeGatherBatch"  class="easyui-datalist"></ul>
        </div>
        <div id="onTimeLayoutCenter" data-options="region:'center'" style="padding:1px;background:#eee;">
            <table id="onTimeBatchInfo" class="easyui-datagrid" title="Basic DataGrid" style=""
                   data-options="singleSelect:true,collapsible:true,url:'get/mysqlDatabase',method:'get'">
                <thead>
                <tr>
                    <th data-options="field:'gatherBatchID',width:100">批次</th>
                    <th data-options="field:'gatherStatus',width:100">采集状态</th>
                    <th data-options="field:'analyseStatus',width:100">分析状态</th>
                    <th data-options="field:'impalaToMysqlStatus',width:100">导入mysql状态</th>
                    <th data-options="field:'analyseStatusUpdateTime',width:150">分析时间</th>
                    <th data-options="field:'createTime',width:150">创建时间</th>
                    <th data-options="field:'updateTime',width:150">修改时间</th>
                </tr>
                </thead>
            </table>

            <table id="onTimeGatherInfo" class="easyui-datagrid" title="Basic DataGrid" style=""
                   data-options="singleSelect:true,collapsible:true,url:'get/mysqlDatabase',method:'get'">
                <thead>
                <tr>
                    <th data-options="field:'taskId',width:100">taskId</th>
                    <th data-options="field:'startGather',width:150">startGather</th>
                    <th data-options="field:'endGather',width:150">endGather</th>
                    <th data-options="field:'batchId',width:100">批次</th>
                    <th data-options="field:'taskStatus',width:100">taskStatus</th>
                    <th data-options="field:'runStart',width:150">runStart</th>
                    <th data-options="field:'runEnd',width:150">runEnd</th>
                    <th data-options="field:'updateTime',width:150">updateTime</th>
                    <th data-options="field:'description',width:100">description</th>
                    <th data-options="field:'selectCnt',width:100">selectCnt</th>
                    <th data-options="field:'insertCnt',width:100">insertCnt</th>
                </tr>
                </thead>
            </table>
        </div>
    </div>
</div>
