<div th:fragment="table">
    <script type="text/javascript" src="/js/realtimeGather_instance.js"></script>
    <input name="btnSearch" type="button" value='查询'
           style="width: 55px;" class="button" onclick="selectInstance()"/>
    <div style="padding: 5px">
        <table id="mysqlDatabaseTable" class="easyui-datagrid" title="Basic DataGrid" style=""
               data-options="singleSelect:true,collapsible:true,url:'get/mysqlDatabase',method:'get'">
            <thead>
            <tr>
                <th data-options="field:'value',width:400">需要采集的mysqlDB</th>
            </tr>
            </thead>
        </table>
    </div>
</div>