<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>
<div th:fragment="warning">
    <link rel="stylesheet" type="text/css" th:href="@{/iiipCSS/warning.css}">
    <script type="text/javascript" src="/js/warning.js"></script>
    <div class="layoutDivTop">
        <div id="topLeft" class="layoutDivTopLeft" >
            <div>
                <table id="serverWarning" class="easyui-datagrid" title="后台服务预警" style="width: 455px">
                 </table>
            </div>
        </div>
        <div id="topRight" class="layoutDivTopRight">
            <div>
                <table id="onTimeGatherWarning" class="easyui-datagrid" title="定时采集预警" style="width: 405px">
                </table>
            </div>
        </div>
    </div>
    <div class="layoutDivBottom">
        <span>数据质量预警</span>
        <div id="bottomLeft">

        </div>
        <div id="bottomRight">

        </div>
    </div>
</div>
</body>
</html>