<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>
<div th:fragment="warning">
    <link rel="stylesheet" type="text/css" th:href="@{/iiipCSS/warning.css}">
    <script type="text/javascript" src="/js/warning.js"></script>
    <div class="layoutDivTop">
        <div id="topLeft" class="layoutDivTopLeft">
            <table id="serverWarning" class="easyui-datagrid" title="后台服务预警" style="width: 455px">
            </table>
        </div>
        <div id="topRight" class="layoutDivTopRight">
            <table id="onTimeGatherWarning" class="easyui-datagrid" title="定时采集预警" style="width: 405px">
            </table>
        </div>
    </div>
    <div class="layoutDivBottom">
        <div id="bottomLeft" class="bottomLeft">
            <table id="dataQualityOdsWarning" class="easyui-datagrid" title="Ods层数据预警" style="width: 455px">
            </table>
        </div>
        <div id="bottomRight" class="bottomRight">
            <table id="dataQualityDwdWarning" class="easyui-datagrid" title="Dwd层数据预警" style="width: 455px">
            </table>
        </div>
    </div>
</div>
</body>
</html>