.icon-signalSelect{
	background:url('iiipIcons/gisviewsearch.png') no-repeat center center;
}

.icon-signalXDRSelect{
	background:url('iiipIcons/xdrsearch.png') no-repeat center center;
}


.icon-signalUserXDRSelect{
	background:url('iiipIcons/sigrawsearch.png') no-repeat center center;
}


